body {
  font-family: 'Saira Condensed', 'Roboto', sans-serif;
}

.top-header-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  font-weight: 800;
}

